body {
  margin: 0;
  background-color: #0d1117;
  color: #fff;
}

.navbar {
  background-color: #010409;
  overflow: hidden;
  white-space: nowrap; /* Prevent links from moving to next line */
}

.navbar a {
  display: inline-block; /* Display links inline */
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border: 2px solid transparent; /* Initial border setting */
}

.navbar a:not(.logo):hover {
  margin: 13px;
  background-color: #555;
  border-radius: 4px;
  padding: 7px 7px;
  border-color: white; /* Border color on hover */
}

.navbar .logo img {
  height: 30px;
  width: auto;
}

#inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styling for the drop-down list */
#search-results {
  display: none;
  color: black;
  border: 1px solid #ccc;
  padding: 5px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-height: 800px;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0;
}

/* Width of search input box */
#query {
  width: 500px;
}

#search-results li {
  display: flex;
  list-style-type: none;
  cursor: pointer;
  align-items: flex-start;
  margin-bottom: 10px;
}

/* Search result image size */
#search-results li img {
  width: 100px;
  height: 150px;
  margin-right: 5px;
}

#search-results li div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#search-results li h3 {
  margin: 0 0 10px 0;
}

#search-results li p {
  margin: 0;
  color: black;
}

#search-results li p.year {
  margin: 0 0 10px 0;
}

#search-results li p.overview {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.search-container {
  position: relative;
  display: inline-block;
}

/* Styles for the box layout */
.box-container {
  margin: 20px 60px 60px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 80vh;
}

.box {
  flex-grow: 1;
  background-color: black;
  border: 2px solid white;
  border-radius: 15px;
  margin: 0 20px;
  height: 100%;
}

.box.center {
  flex-grow: 2;
  background-color: black;
  border: 2px solid white;
  border-radius: 15px;
  height: 100%;
}