body {
  margin: 0;
  background-color: #0d1117;
  color: #fff;
}

.navbar {
  background-color: #010409;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.navbar a:not(.logo):hover {
  margin: 13px;
  background-color: #555;
  border-radius: 4px;
  padding: 7px 7px;
}

.navbar .logo img {
  height: 30px;
  width: auto;
}

/* Styling for the drop-down list */
#search-results {
  display: none;
  color: black;
  border: 1px solid #ccc;
  padding: 5px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-height: 800px;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0;
}

/* Width of search input box */
#query {
  width: 500px;
}

#search-results li {
  display: flex;
  list-style-type: none;
  cursor: pointer;
  align-items: flex-start;
  margin-bottom: 10px;
}

/* Search result image size*/
#search-results li img {
  width: 100px;
  height: 150px;
  margin-right: 5px;
}

#search-results li div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#search-results li h3 {
  margin: 0 0 10px 0;
}

#search-results li p {
  margin: 0 0 10px 0;
  color: #666;
}

.search-container {
  position: relative;
  display: inline-block;
}