/* Styling for the drop-down list */
#search-results {
  display: none;
  border: 1px solid #ccc;
  padding: 5px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0;
}

/* Width of search input box */
#query {
  width: 300px;
}

#search-results li {
  list-style-type: none;
  cursor: pointer;
}

#search-results li img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.search-container {
  position: relative;
  display: inline-block;
}